//include("auth.php");
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="de" lang="de">
<head>
<title><? echo $TITLE ?></title>
    <link rel="stylesheet" type="text/css" href="{% static "albums/style.css" %}"/>
    <script type="text/javascript" src="{% static "albums/script.js" %}"></script>
    <script type="text/javascript" src="{% static "albums/jquery.js" %}"></script>
    <script type="text/javascript">
    </script>
</head>
<body>

